# Node
node_modules
.npm
.pnpm-store
.next
out
.dist
.eslintcache

# Env
.env
.env.*
!.env.example

# Logs
*.log
logs

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Rust/Anchor/Solana
/target
**/target
/.anchor
**/.anchor
Cargo.lock
Anchor.toml.local
solana.*
*.so
**/*.rs.bk

# IDE
.vscode
.idea
*.iml
